<form>
    <div class="form-group">
        <small id="AccountNumberText" class="form-text text-muted">Enter your account number</small>
        <label for="AccountNumber">Account Number</label>
        <input type="text" class="form-control" id="AccountNumber" aria-describedby="AccountNumberText">
    </div>
    <div class="form-group">
        <small id="select-bill-dropdown" class="form-text text-muted">Select Item</small>
        <select class="form-control">
            <option>DSTV</option>
            <option>Azam</option>
        </select>
    </div>
    <div class="form-group">
        <small id="select-bill-dropdown" class="form-text text-muted">Amount</small>
        <input type="number" class="form-control" id="exampleCheck1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>